name: CI + Docker Push Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  REGISTRY: adregistry.fnal.gov
  IMAGE_NAME: ns-deploy-test/ns-test-image

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Run tests (JVM mode)
        run: ./mvnw clean test
        working-directory: nameserver

      - name: Build native image (skip tests)
        run: ./mvnw clean package -Pnative -DskipTests -Dquarkus.profile=prod -Dquarkus.native.container-build=true
        working-directory: nameserver

  docker-push:
    runs-on: ubuntu-latest
    needs: build-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=raw,value=latest

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.NS_USERNAME }}
          password: ${{ secrets.NS_PASSWORD }}

      - name: Build and push Docker image (Quarkus Native)
        uses: docker/build-push-action@v6
        with:
          context: nameserver
          file: nameserver/src/main/docker/Dockerfile.native
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
